section.gallery
    .box
        img(src="../stage/images/g6.jpg")
    .box
        img(src="../stage/images/g1.jpg")
    .box
        img(src="../stage/images/g2.jpg")
    .box
        img(src="../stage/images/g5.jpg")
    .box
        img(src="../stage/images/g4.jpg")
    .box
        img(src="../stage/images/g3.jpg")
    .box
        img(src="../stage/images/g9.jpg")
    


