.statistics
    .container
        .row
            .col-md-3.col-sm-6
                .stat.first-item
                    .unstat
                        i.far.fa-clipboard.fa-5x
                        h2 367
                        p Completed Projects
            .col-md-3.col-sm-6
                .stat.sec-item
                    .unstat
                        i.far.fa-user.fa-5x
                        h2 1068
                        p Happy Clients
            .col-md-3.col-sm-6
                .stat.third-item
                    .unstat
                        i.far.fa-handshake.fa-5x
                        h2 454
                        p Perspective Clients
            .col-md-3.col-sm-6
                .stat.forth-item
                    .unstat
                        i.far.fa-lightbulb.fa-5x
                        h2 978
                        p New Ideas
