<!DOCTYPE html>
html
    head
        include pug/layout/metas
        include pug/layout/styles
    body
        include pug/layout/header
        include pug/layout/Services
        include pug/layout/images

        include pug/layout/scripts